<%- include('header'); -%>
    <div class="container">
      <div class="listings">
        <ul class="list-unstyled">
          <!-- Create an <li> element for each user in users (modulo symbol tag for each line not code block)-->
          <% for (let i = 0; i < shapes.length; i++) { %>
          <a href="/shapes/<%= shapes[i].toLowerCase() %>"
            ><li><%= shapes[i] %></li></a
          >
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
<%- include('footer'); -%>
