<%- include('header'); -%>

<div class="container">
  <div class="form-container">
    <form action="/sighting" method="POST">
      <label for="text">text:</label><br />
      <input type="text" id="text" name="text" /><br />

      <label for="date_time">date & time:</label><br />
      <input type="text" id="date-time" name="date-time" /><br />

      <label for="city">city:</label><br />
      <input type="text" id="city" name="city" /><br />

      <label for="state">state:</label><br />
      <input type="text" id="state" name="state" /><br />

      <label for="shape">shape:</label><br />
      <input type="text" id="shape" name="shape" /><br />

      <label for="duration">duration:</label><br />
      <input type="text" id="duration" name="duration" /><br />

      <label for="summary">summary:</label><br />
      <input type="text" id="summary" name="summary" /><br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>
<%- include('footer'); -%>
